@font-face {
	font-family: Exo-400;
	src: url('fonts/Exo2.0-Regular.otf');
	format('opentype');
}

@font-face {
	font-family: Exo-300;
	src: url('fonts/Exo2.0-Light.otf');
	format('opentype');
}


body {
	background-image:url('img/debut_light.png');
	background-repeat:repeat;
	
	font-family: 'Exo-400', sans-serif;
}

body h1 {
	display:block;
	width:900px;
	margin: 0px auto;
	padding:10px;

	background-color:rgb(30,30,30);
	color:rgb(250,250,250);
}

body h1 .sub {
	color:rgb(255,46,157);
}

body #output {
	display:block;
	width:918px;
	height:500px;
	margin: 30px auto 0px auto;

	overflow-y: scroll;
    overflow-x: hidden;
	
	background-color:rgb(250,250,250);
	border-style:solid;
	border-width:2px;
	border-right-width:0px;
	border-color:rgb(30,30,30);
}

body #output::-webkit-scrollbar {
    width: 10px;
}

body #output::-webkit-scrollbar-track {
	background: rgb(30,30,30);
}

body #output::-webkit-scrollbar-thumb {
    background: rgba(255,46,157,0.8);
}

body #output::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(30,30,30);
}


body #output .line {
	display:block;
	padding:5px;
}

body #output .me {
	font-style:bold;
	color:rgb(255,46,157);
}

body #output .elies {
	color:rgb(0,184,107);
}

body #output .course {
	text-decoration:underline;
	color:rgb(60.60,60);
}

body #output .course:hover {
	cursor:pointer;
	color:rgb(255,46,157);
}

body input {
	display:block;
	width:896px;
	height:50px;
	margin: 5px auto 0px auto;
	padding: 10px;

	background-color:rgb(250,250,250);
	border-style:solid;
	border-width:2px;
	border-color:rgb(30,30,30);
	
	font-family: 'Exo-400', sans-serif;
	font-size:20px;
	line-height:20px;
	color:rgb(30,30,30);
}

body #course_info {
	position:fixed;
	top:0px;
	left:0px;
	width:300px;
	padding:3px;

	background-color:rgba(30,30,30,0.8);
}

body .hidden {
	visibility:hidden;
}

body #course_info h1 {
	width:286px;
	margin:0px;
	background-color:rgba(30,30,30,0);

	font-size:0.8em;
	color:rgb(250,250,250);
}

body #course_info .course_nr {
	color:rgb(255,46,157);
	font-style:bold;
}

body #course_info .info {
	display:block;
	font-family: 'Exo-300', sans-serif;
	color:rgb(250,250,250);
}

body footer {
	width:900px;
	bottom:50px;

	margin: 100px auto 0px auto;

	font-family: 'Exo-300', sans-serif;
	text-align:center;
}

body footer a {
	color:rgb(255,46,157);
}