body {
	background-image:url('img/debut_light.png');
	background-repeat:repeat;
	
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
}

body h1 {
	display:block;
	width:900px;
	margin: 0px auto;
	padding:10px;

	background-color:rgb(30,30,30);
	color:rgb(250,250,250);
}

body h1 .sub {
	color:rgb(255,46,157);
}

body #output {
	display:block;
	width:916px;
	height:500px;
	margin: 30px auto 0px auto;

	overflow-y: scroll;
    overflow-x: hidden;
	
	background-color:rgb(250,250,250);
	border-style:solid;
	border-width:2px;
	border-color:rgb(30,30,30);
}

body #output::-webkit-scrollbar {
    width: 10px;
}

body #output::-webkit-scrollbar-track {
	background: rgb(30,30,30);
}

::-webkit-scrollbar-thumb {
    background: rgba(255,46,157,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(30,30,30);
}



body #output .line {
	display:block;
	padding:5px;
}

body #output .me {
	font-style:bold;
	color:rgb(255,46,157);
}

body #output .elies {
	color:rgb(0,184,107);
}

body input {
	display:block;
	width:896px;
	height:50px;
	margin: 5px auto 0px auto;
	padding: 10px;

	background-color:rgb(250,250,250);
	border-style:solid;
	border-width:2px;
	border-color:rgb(30,30,30);
	
	
	font-family: 'Exo 2', sans-serif;
	font-size:20px;
	line-height:20px;
	color:rgb(30,30,30);
}

body footer {
	width:900px;
	bottom:50px;

	margin: 100px auto 0px auto;

	font-weight:200;
    text-align:center;
}

body footer a {
	color:rgb(255,46,157);
}